<!DOCTYPE html>
<html>
<head>
    <title>Contest to post</title>
    <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/contest.js"></script>
</head>
<body>
    <div id="container">
        <div id="input">
            Contest id:<input id="id">
            <button id="submit">Submit</button>
            <hr/>
        </div>
        <div id="output">
            <textarea></textarea>
        </div>
    </div>
</body>
</html>